<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.dao.MachineMapper">
  <resultMap id="BaseResultMap" type="com.dou.domain.Machine">
    <id column="machine_id" jdbcType="INTEGER" property="machineId" />
    <result column="machinecde" jdbcType="VARCHAR" property="machinecde" />
    <result column="plugspec" jdbcType="VARCHAR" property="plugspec" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="usestatus" jdbcType="INTEGER" property="usestatus" />
    <result column="voltage" jdbcType="REAL" property="voltage" />
    <result column="current" jdbcType="REAL" property="current" />
    <result column="power" jdbcType="REAL" property="power" />
    <result column="dtu" jdbcType="VARCHAR" property="dtu" />
    <result column="dtuport" jdbcType="VARCHAR" property="dtuport" />
    <result column="devicepeople" jdbcType="VARCHAR" property="devicepeople" />
    <result column="localcoding" jdbcType="VARCHAR" property="localcoding" />
    <result column="elelocksta" jdbcType="INTEGER" property="elelocksta" />
    <result column="valvesta" jdbcType="INTEGER" property="valvesta" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    machine_id, machinecde, plugspec, code, usestatus, voltage, current, power, dtu, 
    dtuport, devicepeople, localcoding, elelocksta, valvesta
  </sql>
  <select id="selectByExample" parameterType="com.dou.domain.MachineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_machine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_machine
    where machine_id = #{machineId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_machine
    where machine_id = #{machineId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dou.domain.MachineExample">
    delete from tb_machine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dou.domain.Machine">
    insert into tb_machine (machine_id, machinecde, plugspec, 
      code, usestatus, voltage, 
      current, power, dtu, dtuport, 
      devicepeople, localcoding, elelocksta, 
      valvesta)
    values (#{machineId,jdbcType=INTEGER}, #{machinecde,jdbcType=VARCHAR}, #{plugspec,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{usestatus,jdbcType=INTEGER}, #{voltage,jdbcType=REAL}, 
      #{current,jdbcType=REAL}, #{power,jdbcType=REAL}, #{dtu,jdbcType=VARCHAR}, #{dtuport,jdbcType=VARCHAR}, 
      #{devicepeople,jdbcType=VARCHAR}, #{localcoding,jdbcType=VARCHAR}, #{elelocksta,jdbcType=INTEGER}, 
      #{valvesta,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dou.domain.Machine">
    insert into tb_machine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="machineId != null">
        machine_id,
      </if>
      <if test="machinecde != null">
        machinecde,
      </if>
      <if test="plugspec != null">
        plugspec,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="usestatus != null">
        usestatus,
      </if>
      <if test="voltage != null">
        voltage,
      </if>
      <if test="current != null">
        current,
      </if>
      <if test="power != null">
        power,
      </if>
      <if test="dtu != null">
        dtu,
      </if>
      <if test="dtuport != null">
        dtuport,
      </if>
      <if test="devicepeople != null">
        devicepeople,
      </if>
      <if test="localcoding != null">
        localcoding,
      </if>
      <if test="elelocksta != null">
        elelocksta,
      </if>
      <if test="valvesta != null">
        valvesta,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="machineId != null">
        #{machineId,jdbcType=INTEGER},
      </if>
      <if test="machinecde != null">
        #{machinecde,jdbcType=VARCHAR},
      </if>
      <if test="plugspec != null">
        #{plugspec,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="usestatus != null">
        #{usestatus,jdbcType=INTEGER},
      </if>
      <if test="voltage != null">
        #{voltage,jdbcType=REAL},
      </if>
      <if test="current != null">
        #{current,jdbcType=REAL},
      </if>
      <if test="power != null">
        #{power,jdbcType=REAL},
      </if>
      <if test="dtu != null">
        #{dtu,jdbcType=VARCHAR},
      </if>
      <if test="dtuport != null">
        #{dtuport,jdbcType=VARCHAR},
      </if>
      <if test="devicepeople != null">
        #{devicepeople,jdbcType=VARCHAR},
      </if>
      <if test="localcoding != null">
        #{localcoding,jdbcType=VARCHAR},
      </if>
      <if test="elelocksta != null">
        #{elelocksta,jdbcType=INTEGER},
      </if>
      <if test="valvesta != null">
        #{valvesta,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dou.domain.MachineExample" resultType="java.lang.Long">
    select count(*) from tb_machine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_machine
    <set>
      <if test="record.machineId != null">
        machine_id = #{record.machineId,jdbcType=INTEGER},
      </if>
      <if test="record.machinecde != null">
        machinecde = #{record.machinecde,jdbcType=VARCHAR},
      </if>
      <if test="record.plugspec != null">
        plugspec = #{record.plugspec,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.usestatus != null">
        usestatus = #{record.usestatus,jdbcType=INTEGER},
      </if>
      <if test="record.voltage != null">
        voltage = #{record.voltage,jdbcType=REAL},
      </if>
      <if test="record.current != null">
        current = #{record.current,jdbcType=REAL},
      </if>
      <if test="record.power != null">
        power = #{record.power,jdbcType=REAL},
      </if>
      <if test="record.dtu != null">
        dtu = #{record.dtu,jdbcType=VARCHAR},
      </if>
      <if test="record.dtuport != null">
        dtuport = #{record.dtuport,jdbcType=VARCHAR},
      </if>
      <if test="record.devicepeople != null">
        devicepeople = #{record.devicepeople,jdbcType=VARCHAR},
      </if>
      <if test="record.localcoding != null">
        localcoding = #{record.localcoding,jdbcType=VARCHAR},
      </if>
      <if test="record.elelocksta != null">
        elelocksta = #{record.elelocksta,jdbcType=INTEGER},
      </if>
      <if test="record.valvesta != null">
        valvesta = #{record.valvesta,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_machine
    set machine_id = #{record.machineId,jdbcType=INTEGER},
      machinecde = #{record.machinecde,jdbcType=VARCHAR},
      plugspec = #{record.plugspec,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      usestatus = #{record.usestatus,jdbcType=INTEGER},
      voltage = #{record.voltage,jdbcType=REAL},
      current = #{record.current,jdbcType=REAL},
      power = #{record.power,jdbcType=REAL},
      dtu = #{record.dtu,jdbcType=VARCHAR},
      dtuport = #{record.dtuport,jdbcType=VARCHAR},
      devicepeople = #{record.devicepeople,jdbcType=VARCHAR},
      localcoding = #{record.localcoding,jdbcType=VARCHAR},
      elelocksta = #{record.elelocksta,jdbcType=INTEGER},
      valvesta = #{record.valvesta,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dou.domain.Machine">
    update tb_machine
    <set>
      <if test="machinecde != null">
        machinecde = #{machinecde,jdbcType=VARCHAR},
      </if>
      <if test="plugspec != null">
        plugspec = #{plugspec,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="usestatus != null">
        usestatus = #{usestatus,jdbcType=INTEGER},
      </if>
      <if test="voltage != null">
        voltage = #{voltage,jdbcType=REAL},
      </if>
      <if test="current != null">
        current = #{current,jdbcType=REAL},
      </if>
      <if test="power != null">
        power = #{power,jdbcType=REAL},
      </if>
      <if test="dtu != null">
        dtu = #{dtu,jdbcType=VARCHAR},
      </if>
      <if test="dtuport != null">
        dtuport = #{dtuport,jdbcType=VARCHAR},
      </if>
      <if test="devicepeople != null">
        devicepeople = #{devicepeople,jdbcType=VARCHAR},
      </if>
      <if test="localcoding != null">
        localcoding = #{localcoding,jdbcType=VARCHAR},
      </if>
      <if test="elelocksta != null">
        elelocksta = #{elelocksta,jdbcType=INTEGER},
      </if>
      <if test="valvesta != null">
        valvesta = #{valvesta,jdbcType=INTEGER},
      </if>
    </set>
    where machine_id = #{machineId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dou.domain.Machine">
    update tb_machine
    set machinecde = #{machinecde,jdbcType=VARCHAR},
      plugspec = #{plugspec,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      usestatus = #{usestatus,jdbcType=INTEGER},
      voltage = #{voltage,jdbcType=REAL},
      current = #{current,jdbcType=REAL},
      power = #{power,jdbcType=REAL},
      dtu = #{dtu,jdbcType=VARCHAR},
      dtuport = #{dtuport,jdbcType=VARCHAR},
      devicepeople = #{devicepeople,jdbcType=VARCHAR},
      localcoding = #{localcoding,jdbcType=VARCHAR},
      elelocksta = #{elelocksta,jdbcType=INTEGER},
      valvesta = #{valvesta,jdbcType=INTEGER}
    where machine_id = #{machineId,jdbcType=INTEGER}
  </update>
</mapper>