<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.dao.OperatorlogsMapper">
  <resultMap id="BaseResultMap" type="com.dou.domain.Operatorlogs">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uesrid" jdbcType="VARCHAR" property="uesrid" />
    <result column="machinecde" jdbcType="VARCHAR" property="machinecde" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="start" jdbcType="DATE" property="start" />
    <result column="end" jdbcType="DATE" property="end" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, uesrid, machinecde, time, start, end, status
  </sql>
  <select id="selectByExample" parameterType="com.dou.domain.OperatorlogsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_operatorlogs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_operatorlogs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_operatorlogs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dou.domain.OperatorlogsExample">
    delete from tb_operatorlogs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dou.domain.Operatorlogs">
    insert into tb_operatorlogs (id, uesrid, machinecde, 
      time, start, end, status
      )
    values (#{id,jdbcType=INTEGER}, #{uesrid,jdbcType=VARCHAR}, #{machinecde,jdbcType=VARCHAR}, 
      #{time,jdbcType=DATE}, #{start,jdbcType=DATE}, #{end,jdbcType=DATE}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dou.domain.Operatorlogs">
    insert into tb_operatorlogs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uesrid != null">
        uesrid,
      </if>
      <if test="machinecde != null">
        machinecde,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="start != null">
        start,
      </if>
      <if test="end != null">
        end,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uesrid != null">
        #{uesrid,jdbcType=VARCHAR},
      </if>
      <if test="machinecde != null">
        #{machinecde,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
      <if test="start != null">
        #{start,jdbcType=DATE},
      </if>
      <if test="end != null">
        #{end,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dou.domain.OperatorlogsExample" resultType="java.lang.Long">
    select count(*) from tb_operatorlogs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_operatorlogs
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uesrid != null">
        uesrid = #{record.uesrid,jdbcType=VARCHAR},
      </if>
      <if test="record.machinecde != null">
        machinecde = #{record.machinecde,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=DATE},
      </if>
      <if test="record.start != null">
        start = #{record.start,jdbcType=DATE},
      </if>
      <if test="record.end != null">
        end = #{record.end,jdbcType=DATE},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_operatorlogs
    set id = #{record.id,jdbcType=INTEGER},
      uesrid = #{record.uesrid,jdbcType=VARCHAR},
      machinecde = #{record.machinecde,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=DATE},
      start = #{record.start,jdbcType=DATE},
      end = #{record.end,jdbcType=DATE},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dou.domain.Operatorlogs">
    update tb_operatorlogs
    <set>
      <if test="uesrid != null">
        uesrid = #{uesrid,jdbcType=VARCHAR},
      </if>
      <if test="machinecde != null">
        machinecde = #{machinecde,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=DATE},
      </if>
      <if test="start != null">
        start = #{start,jdbcType=DATE},
      </if>
      <if test="end != null">
        end = #{end,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dou.domain.Operatorlogs">
    update tb_operatorlogs
    set uesrid = #{uesrid,jdbcType=VARCHAR},
      machinecde = #{machinecde,jdbcType=VARCHAR},
      time = #{time,jdbcType=DATE},
      start = #{start,jdbcType=DATE},
      end = #{end,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>