<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.dao.PumpMapper">
  <resultMap id="BaseResultMap" type="com.dou.domain.Pump">
    <id column="pumb_id" jdbcType="INTEGER" property="pumbId" />
    <result column="machinecde" jdbcType="VARCHAR" property="machinecde" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="localcoding" jdbcType="VARCHAR" property="localcoding" />
    <result column="usestatus" jdbcType="INTEGER" property="usestatus" />
    <result column="dtu" jdbcType="VARCHAR" property="dtu" />
    <result column="dtuport" jdbcType="VARCHAR" property="dtuport" />
    <result column="villagers" jdbcType="VARCHAR" property="villagers" />
    <result column="controlmode" jdbcType="INTEGER" property="controlmode" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="cfrequency" jdbcType="VARCHAR" property="cfrequency" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pumb_id, machinecde, code, localcoding, usestatus, dtu, dtuport, villagers, controlmode, 
    frequency, cfrequency
  </sql>
  <select id="selectByExample" parameterType="com.dou.domain.PumpExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_pump
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_pump
    where pumb_id = #{pumbId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_pump
    where pumb_id = #{pumbId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dou.domain.PumpExample">
    delete from tb_pump
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dou.domain.Pump">
    insert into tb_pump (pumb_id, machinecde, code, 
      localcoding, usestatus, dtu, 
      dtuport, villagers, controlmode, 
      frequency, cfrequency)
    values (#{pumbId,jdbcType=INTEGER}, #{machinecde,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{localcoding,jdbcType=VARCHAR}, #{usestatus,jdbcType=INTEGER}, #{dtu,jdbcType=VARCHAR}, 
      #{dtuport,jdbcType=VARCHAR}, #{villagers,jdbcType=VARCHAR}, #{controlmode,jdbcType=INTEGER}, 
      #{frequency,jdbcType=VARCHAR}, #{cfrequency,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dou.domain.Pump">
    insert into tb_pump
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pumbId != null">
        pumb_id,
      </if>
      <if test="machinecde != null">
        machinecde,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="localcoding != null">
        localcoding,
      </if>
      <if test="usestatus != null">
        usestatus,
      </if>
      <if test="dtu != null">
        dtu,
      </if>
      <if test="dtuport != null">
        dtuport,
      </if>
      <if test="villagers != null">
        villagers,
      </if>
      <if test="controlmode != null">
        controlmode,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="cfrequency != null">
        cfrequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pumbId != null">
        #{pumbId,jdbcType=INTEGER},
      </if>
      <if test="machinecde != null">
        #{machinecde,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="localcoding != null">
        #{localcoding,jdbcType=VARCHAR},
      </if>
      <if test="usestatus != null">
        #{usestatus,jdbcType=INTEGER},
      </if>
      <if test="dtu != null">
        #{dtu,jdbcType=VARCHAR},
      </if>
      <if test="dtuport != null">
        #{dtuport,jdbcType=VARCHAR},
      </if>
      <if test="villagers != null">
        #{villagers,jdbcType=VARCHAR},
      </if>
      <if test="controlmode != null">
        #{controlmode,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="cfrequency != null">
        #{cfrequency,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dou.domain.PumpExample" resultType="java.lang.Long">
    select count(*) from tb_pump
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_pump
    <set>
      <if test="record.pumbId != null">
        pumb_id = #{record.pumbId,jdbcType=INTEGER},
      </if>
      <if test="record.machinecde != null">
        machinecde = #{record.machinecde,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.localcoding != null">
        localcoding = #{record.localcoding,jdbcType=VARCHAR},
      </if>
      <if test="record.usestatus != null">
        usestatus = #{record.usestatus,jdbcType=INTEGER},
      </if>
      <if test="record.dtu != null">
        dtu = #{record.dtu,jdbcType=VARCHAR},
      </if>
      <if test="record.dtuport != null">
        dtuport = #{record.dtuport,jdbcType=VARCHAR},
      </if>
      <if test="record.villagers != null">
        villagers = #{record.villagers,jdbcType=VARCHAR},
      </if>
      <if test="record.controlmode != null">
        controlmode = #{record.controlmode,jdbcType=INTEGER},
      </if>
      <if test="record.frequency != null">
        frequency = #{record.frequency,jdbcType=VARCHAR},
      </if>
      <if test="record.cfrequency != null">
        cfrequency = #{record.cfrequency,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_pump
    set pumb_id = #{record.pumbId,jdbcType=INTEGER},
      machinecde = #{record.machinecde,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      localcoding = #{record.localcoding,jdbcType=VARCHAR},
      usestatus = #{record.usestatus,jdbcType=INTEGER},
      dtu = #{record.dtu,jdbcType=VARCHAR},
      dtuport = #{record.dtuport,jdbcType=VARCHAR},
      villagers = #{record.villagers,jdbcType=VARCHAR},
      controlmode = #{record.controlmode,jdbcType=INTEGER},
      frequency = #{record.frequency,jdbcType=VARCHAR},
      cfrequency = #{record.cfrequency,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dou.domain.Pump">
    update tb_pump
    <set>
      <if test="machinecde != null">
        machinecde = #{machinecde,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="localcoding != null">
        localcoding = #{localcoding,jdbcType=VARCHAR},
      </if>
      <if test="usestatus != null">
        usestatus = #{usestatus,jdbcType=INTEGER},
      </if>
      <if test="dtu != null">
        dtu = #{dtu,jdbcType=VARCHAR},
      </if>
      <if test="dtuport != null">
        dtuport = #{dtuport,jdbcType=VARCHAR},
      </if>
      <if test="villagers != null">
        villagers = #{villagers,jdbcType=VARCHAR},
      </if>
      <if test="controlmode != null">
        controlmode = #{controlmode,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="cfrequency != null">
        cfrequency = #{cfrequency,jdbcType=VARCHAR},
      </if>
    </set>
    where pumb_id = #{pumbId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dou.domain.Pump">
    update tb_pump
    set machinecde = #{machinecde,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      localcoding = #{localcoding,jdbcType=VARCHAR},
      usestatus = #{usestatus,jdbcType=INTEGER},
      dtu = #{dtu,jdbcType=VARCHAR},
      dtuport = #{dtuport,jdbcType=VARCHAR},
      villagers = #{villagers,jdbcType=VARCHAR},
      controlmode = #{controlmode,jdbcType=INTEGER},
      frequency = #{frequency,jdbcType=VARCHAR},
      cfrequency = #{cfrequency,jdbcType=VARCHAR}
    where pumb_id = #{pumbId,jdbcType=INTEGER}
  </update>
  
  
  
  <select id="fingPumpbycode" parameterType="java.lang.String" resultType="com.dou.domain.Pump">
  select * from tb_pump where code =#{code}
  </select>
 
  <insert id="inserPumpbycode" parameterType="com.dou.domain.Pump">
    insert into tb_pump (code)
    values (#{code,jdbcType=VARCHAR})
  </insert>
  
  

  
</mapper>