<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.dao.UserConfigDao">
 
 	<select id="getUserList" resultType="java.util.Map" parameterType="com.dou.domain.Userinfo">
 		select * from tb_userinfo where 1=1
 		<if test="userId != null and userId != ''">
 			and user_id = #{userId}
 		</if>
 	</select>
 	<insert id="addUser" parameterType="com.dou.domain.Userinfo">
 		insert into tb_userinfo(name,ldnumber,password,phone,machinecde,code,addr)values(#{name},#{ldnumber},#{password},#{phone},#{machinecde},#{code},#{addr})
 	</insert>
 	
 	<delete id="deleteUser" parameterType="com.dou.domain.Userinfo">
 	delete from tb_userinfo where user_id = #{userId}
 	</delete>
 	
 	<update id="updatePolicyNonCarDOBatch" parameterType="java.util.List">
 		update tb_userinfo set name=#{name},ldnumber = #{ldnumber},password = #{password},phone=#{phone},machinecde=#{machinecde},code=#{code},addr=#{addr}
 		where user_id=#{user_id}
 	</update>
	
	<update id="updateUser" parameterType="com.dou.domain.Userinfo">
 		update tb_userinfo set name=#{name},ldnumber = #{ldnumber},password = #{password},phone=#{phone},machinecde=#{machinecde},code=#{code},addr=#{addr}
 		where user_id=#{userId}
 	</update>
	
</mapper>