<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.dao.UserTestMapper">
	<resultMap id="BaseResultMap" type="com.dou.domain.UserTest">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="role_id" jdbcType="VARCHAR" property="role_id" />
	</resultMap>

	<select id="getUserTest" parameterType="com.dou.domain.UserTest" resultMap="BaseResultMap">
		SELECT u.id,u.name,u.role_id
		FROM user u
	</select>

</mapper>

