<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.dao.WxUserMapper">

	<resultMap id="ResultMap"
		type="com.dou.domain.WxUserModel">
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="codestatus" jdbcType="VARCHAR" property="codestatus" />
		<result column="controlmode" jdbcType="VARCHAR" property="controlmode" />
		<result column="machinecde" jdbcType="VARCHAR" property="machinecde" />
		<result column="usestatusA" jdbcType="VARCHAR" property="usestatusA" />
		<result column="usestatusB" jdbcType="VARCHAR" property="usestatusB" />
		<result column="usestatusC" jdbcType="VARCHAR" property="usestatusC" />
		<result column="cumtime" jdbcType="DATE" property="cumtime" />
		<result column="cumamount" jdbcType="VARCHAR" property="cumamount" />
		<result column="cumwater" jdbcType="VARCHAR" property="cumwater" />
		<result column="staus" jdbcType="VARCHAR" property="staus" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
	</resultMap>

<select id="selectWxUserModel" resultMap="ResultMap" parameterType="com.dou.domain.WxUserModel">
		select
			tp.code,tp.codestatus,tp.controlmode,tm.machinecde,tm.usestatusA,tc.cumtime,tc.cumamount,tc.cumwater,pay.staus
		from 
			tb_pump tp
		left join 
			tb_machine tm on tp.phone = tm.phone
		left join
			tb_cumulative tc on tp.phone = tc.phone
		left join 
			tb_paylogs pay on tc.phone = pay.phone
	
	</select>


</mapper>